#First ignore everything!

*

#Now, whitelist anything that's valued.

!*.c
!*.h
!*.vhd
!*.bmp
!*.wav

# blacklist some other stuff
*.o
*.d
*.bsp
*.gdb
*.x
*.qip
*.sopcinfo
*.html
*.hdb
*.dpi
*.cdb
*.kpt
*.qmsg
*.rdb
*.bpm
*.summary
*.done
*.flock

